{% extends 'index.html' %}
{% block title %}
<title>Essence - Fashion world | cart</title>
{% endblock %}
{% block body %}

<div class="container-fluid">
    {% if cart %}
    <h5 class="text-center p-2 bg-secondary"> Your cart</h5>
    <div class="table-responsive">
        <table class="table table-bordered">
            <tr>
                <th>PIC</th>
                <th>NAME</th>
                <th>COLOR</th>
                <th>SIZE</th>
                <th>PRICE</th>
                <th>INCREASE</th>
                <th>QTY</th>
                <th>DECREASE</th>
                <th>TOTAL</th>
                <th>DELETE</th>

            </tr>
            {% for item in cart %}
            <tr>
                <td><img src="{{item.pic}}" style="height: 80px; width: 80px;" class="rounded" alt=""></td>
                <td>{{item.name}}</td>
                <td>{{item.color}}</td>
                <td>{{item.size}}</td>
                <td>&#8377;{{item.price}}</td>
                <td><a href="/update-cart/{{item.id}}/inc/"><span class="material-symbols-outlined">
                            add
                        </span></a></td>
                <td>{{item.qty}}</td>
                <td><a href="/update-cart/{{item.id}}/dec/"><span class="material-symbols-outlined">
                            remove
                        </span></a></td>
                <td>&#8377;{{item.total}}</td>
                <td><a href="/delete/{{item.id}}"><span class="material-symbols-outlined">
                            delete_forever
                        </span></a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <th>Sub Total</th>
                        <td>&#8377;{{total}}</td>
                    </tr>
                    <tr>
                        <th>Shipping</th>
                        <td>&#8377;{{shipping}}</td>
                    </tr>
                    <tr>
                        <th>Final amount</th>
                        <td>&#8377;{{total}}</td>
                    </tr>

                </table>
                <div class="md-3">

                    <a href="/checkout/"><button type="submit" class="btn btn-primary w-100">Checkout</button></a>

                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="col-md-6 text-center">
        <label><h1 class="mt-3">No item in cart !!!</h1></label><br>
        <a href="/shop/All/All"><button class="btn btn-success my-3 text-center">Shop now</button></a>
    </div>
    {% endif %}
</div>

{% endblock %}