{% extends 'index.html' %}
{% block title %}
<title>Essence - Fashion world | Login</title>
{% endblock %}
{% block body %}
<div class="container-fluid w-100 my-5 p-5">
    <div class="center m-auto border p-5 w-50">
        <h4 class="text-center"><span class="text-primary" style="font: size 40px;">Create</span> an account</h4>
        {% if messages %}
            {% for m in messages %}
            <div class="alert alert-danger text-center alert-dismissible fade show" role="alert">
                {{m}}
                <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        {% endif %}
        <form action="/signup/" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <label for="name" class="form-label">Fullname</label>
                    <input type="text" class="form-control" name='name' id='name' placeholder="Enter Full name">
                </div>
                <div class="col-md-6">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" name='username' id='username' placeholder="Enter Full name">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" name='email' id='email' placeholder="Enter Email">
                </div>
                <div class="col-md-6">
                    <label for="phone" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" name='phone' id='phone' placeholder="Enter Phone number">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="password" class="form-label">Password</label>
                    <input type="text" class="form-control" name='password' id='password' placeholder="Enter your password">
                </div>
                <div class="col-md-6">
                    <label for="cpassword" class="form-label">Confirm Paaword</label>
                    <input type="text" class="form-control" name='cpassword' id='cpassword' placeholder="Confirm your password">
                </div>
            </div>
            <div class="w-100 mt-3">
                <button type= "submit" class="btn btn-primary w-100">Signup</button>
            </div>
            <div class="d-flex justify-content-between">
                <a href="">Already user ? Sing in</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}